{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Client list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Lastname</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Age</th>
                <th>Maritalstatus</th>
                 <th>Type</th>
                <th>Email</th>
                <th>Isactive</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('backend_clients_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.lastname }}</td>
                <td>{{ entity.phone }}</td>
                <td>{{ entity.address }}</td>
                <td>{{ entity.age }}</td>
                <td>{{ entity.TextMaritalStatus }}</td>
                <td>{{ entity.TextType</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.isActive }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('backend_clients_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('backend_clients_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('backend_clients_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
